<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title>Inbox</title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
  </head>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div id="chat-container">
      <div id="search-container">
        <input type="text" placeholder="Search" />
      </div>
      
      <div id="conversation-list">
        <% responseMessage.forEach((value)=>{%>
        <div class="conversation conversation-<%= value._id%>" onclick="conversation('<%=value._id%>')" >
          <% if(value.user_id === userId){%>
            <%if(value.perticipent_avatar){ %>
              <img src= "<%=`./avatars/${value.perticipent_avatar}`%>" alt="Sumit" />
            <% }else{ %>
              <img src="./images/user1.png" alt="" />
            <% } %>
            <div class="title-text"><%= value.perticipent_name%></div>
          <% }else{ %>
            <%if(value.user_avatar){ %>
              <img src= "<%=`./avatars/${value.user_avatar}`%>" alt="Sumit" />
            <% }else{ %>
              <img src="./images/user1.png" alt="" />
            <% } %>
            <div class="title-text"><%= value.user_name%></div>
          <% } %>
          <di class="created-date"> Apr 16 </di>
          <div class="conversation-message">This is a message</div>
        </div>
        <% }) %>
      </div>
      <!--add conversations-->
      <div id="new-message-container">
        <a href="#" style="font-size: 5rem;text-decoration: none;padding-left: 35%;color: aliceblue;">
          +
        </a>
      </div>
      <!--conversations chats-->
      <div id="chat-title">
      </div>
      <div id="chat-message-list" >
      </div>
      

      <!--chat form for send message-->
      <form id="chat-form">
        <!-- <img src="./images/attachment.png" inputmode="file" type="file" alt=Add Attachment=""/> -->
        <input type="file" style="width: 100%" name="avatar" />
        <input name="message" id="chat-message" type="text" placeholder="Type a message" />
      </form>
    </div>

    <!--new conversation create-->
    <div class="modal-wrapper">
      <div class="modal">
        <a href="#" class="modal-close">+</a>
        <div class="modal-title">
          <h2>Create New Conversation</h2>
        </div>
        <div class="modal-body">
          <form id='modal-wrapper-form'>
            <input type="text" id="modal-wrapper-form-input" name="username" placeholder="Username" />
            <!--Search Items show-->
            <div id="modal-wrapper-form-input-search">

            </div>
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
    
    const newMessageContainer = document.querySelector('#new-message-container');
    const modalWrapper = document.querySelector('.modal-wrapper');
    const closeModal = document.querySelector('.modal-close');
    const modalWrapperForm = document.querySelector('#modal-wrapper-form');
    const modalWrapperFormInput = document.querySelector('#modal-wrapper-form-input');
    const modalWrapperFormInputSearch = document.querySelector('#modal-wrapper-form-input-search');
    const chatForm = document.querySelector('#chat-form');
    const chatTitle = document.querySelector('#chat-title');
    const chatMessageList = document.querySelector('#chat-message-list');
    const chatMessage = document.querySelector('#chat-message');
    
    let noOfRequestOnPerClick = 1 ;
    let conversationId ; 
    let userID ;

    //show modal wrapper for create new conversion
    newMessageContainer.addEventListener('click',()=>{

      modalWrapper.style.display = 'block'
    })
    //close modal wrapper click handle
    closeModal.addEventListener('click',()=>{
      modalWrapper.style.display = 'none'
    })

    //create a coversation form submit handle
    modalWrapperForm.addEventListener('submit',async (e)=>{
      e.preventDefault();
      let responseData ;

      //fetch users by search from server 
      await fetch('/inbox',{
        method : 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body : JSON.stringify({input:modalWrapperFormInput.value})
      })
      .then((data)=>data.json())
      .then((data)=>{
        responseData = data ;
        console.log('kmlklk');
      })
      .catch((err)=>{console.log(err)})
      //set 
      modalWrapperFormInputSearch.innerHTML =''
      if(responseData !== undefined){
        responseData.forEach((value)=>{
          console.log(value);
          modalWrapperFormInputSearch.innerHTML = modalWrapperFormInputSearch.innerHTML + `<p onclick=userCreateConversion('${value._id}')> ${value.name} </p>` ;
        
        })
      }
    });
    
    //Every user p tag handle
    async function userCreateConversion(id){
      if(noOfRequestOnPerClick === 1){
        noOfRequestOnPerClick+=1;
        
        //send data to server for create a conversation
        await fetch(`/inbox/${id}`,{
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then((data)=>data.json())
        .then((data)=>{
          console.log(data);
          location.reload();
        })
        .catch((err)=>{
          console.log(err);
          noOfRequestOnPerClick = 1 ;
        })
        
      }
    }

    //conversation event handler
    async function conversation(id){

      //set conversationId value
      conversationId = id ;
      let messageDatas ;

      //set conversation un Active and active
      const conversationList = document.querySelectorAll(`.conversation`);
      
      conversationList.forEach((value)=>{
        value.classList.contains(`conversation-${id}`) ? value.classList.add('active') : value.classList.remove('active');
      })

      console.log(id);
      chatForm.style.visibility = 'visible';
      await fetch(`/inbox/perticipentMessages/${id}`,{
          method: 'GET',
        })
        .then((data)=>data.json())
        .then((data)=>{
          messageDatas = data ;
        })
        .catch(err=>{console.log(err)});

      

      if(messageDatas?.messageData?.message){

        let sendMessage ='';
        let sendOther 

        messageDatas.messageData.message.forEach(value=>{
        
          if(messageDatas.messageData.user_id === messageDatas.userId ){
            userID = messageDatas.userId ;
            chatTitle.innerHTML = `<span>${messageDatas.messageData.perticipent_name}</span>
            <img src="./images/trash.png" alt="Delete Conversation" />`

            if(messageDatas.userId !== value.senderId){
              sendMessage += `
              <div class="message-row other-message">
                <div class="message-content">
                  <img src="./avatars/${messageDatas.messageData.user_avatar}" alt="mehedi" />
                  <div class="message-text">${value.message}</div>
                  <div class="message-time">Apr 16</div>
                </div>
              </div>`
            }
            else{
              sendMessage += `
              <div class="message-row you-message">
                <div class="message-content">
                  <img src="./avatars/${messageDatas.messageData.user_avatar}" alt="mehedi" />
                  <div class="message-text">${value.message}</div>
                  <div class="message-time">Apr 16</div>
                </div>
              </div>` 
            }
          }
          else{
            userID = messageDatas.userId ;
            chatTitle.innerHTML = `<span>${messageDatas.messageData.user_name}</span>
            <img src="./images/trash.png" alt="Delete Conversation"  />`
           
            if(messageDatas.userId !== value.senderId){
              sendMessage += `
              <div class="message-row other-message">
                <div class="message-content">
                  <img src="./avatars/${messageDatas.messageData.perticipent_avatar}" alt="mehedi" />
                  <div class="message-text">${value.message}</div>
                  <div class="message-time">Apr 16</div>
                </div>
              </div>` 
            }
            else{
              sendMessage += `
              <div class="message-row you-message">
                <div class="message-content">
                  <img src="./avatars/${messageDatas.messageData.user_avatar}" alt="mehedi" />
                  <div class="message-text">${value.message}</div>
                  <div class="message-time">Apr 16</div>
                </div>
              </div>` 
            }
          }
          
        });
        chatMessageList.innerHTML = sendMessage ;
      }
    }
    
    
    //send message to server 
    chatForm.addEventListener('submit',async(e)=>{
      e.preventDefault();
      
      //decorate form data
      let formData = new FormData(chatForm);

      //inbox messages 
      if(conversationId){
        console.log({'conversationId' : conversationId})
        
        await fetch(`/inbox/messages/${conversationId}`,{
          method: 'POST',
          body : formData,
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      }
      
    });
    
    //socket.io create
    const socket = io();
    socket.on('sendMessage',value=>{
      console.log(userID === value.sender);
      if(userID === value.sender){
        const sendMessageElements = `
        <div class="message-row you-message">
          <div class="message-content">
            <img src="./avatars/${value}" alt="mehedi" />
            <div class="message-text">${value.message}</div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>`
        chatMessageList.innerHTML = sendMessageElements + chatMessageList.innerHTML ;
      }else{
        const sendMessageElements = `
        <div class="message-row other-message">
          <div class="message-content">
            <img src="./avatars/${value}" alt="mehedi" />
            <div class="message-text">${value.message}</div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>`
        chatMessageList.innerHTML = sendMessageElements + chatMessageList.innerHTML ;
      }
      
      
    })


    </script>
  </body>
</html>
