<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title>Title</title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
  </head>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% usersData.forEach((value)=>{ %>
            <tr id="">
              <td class="name">
                <% if(value.avatar === undefined){%>
                <img src="./images/user1.png" />
                <% }else{ %>
                  <img src="./avatars/<%= value.avatar %>" />
                <% } %>
                <span><%= value.name%></span>
              </td>
              <td><%= value.email%></td>
              <td class="manage" onclick="deleteUser('<%= value._id%>')">
                <img src="./images/trash.png" alt="Delete" />
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="modal-wrapper" id="add-user-modal">
      <div class="modal">
        <a href="#" onclick="closeModal()" class="modal-close">+</a>
        <div class="modal-title">
          <h2>Create New User</h2>
        </div>
        <div class="modal-body">
          <form 
           id="add-user-form"
           >
            <input type="text" placeholder="enter name" name="name" />
            <p class="error error-name"></p>
            
            <input type="text" placeholder="enter email" name="email" />
            <p class="error error-email"></p>
            
            <input type="text" placeholder="enter mobile" name="mobile" />
            <p class="error error-mobile"></p>
            
            <input
              type="password"
              placeholder="enter password"
              name="password"
              id ="password"
            />
            <p class="error error-password"></p>
            
            <input type="file" name="avatar" />
            <p class="error error-avatar">This is error</p>
            
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
    <script>
      const modal    = document.querySelector("#add-user-modal");
      const form     = document.querySelector("#add-user-form");
      const password = document.querySelector("#password");
      const manage = document.querySelector(".manage");
      
      function closeModal() {
        modal.style.display = "none";
      }
      function openModal() {
        modal.style.display = "block";
      }
      //delete users
      async function deleteUser(userId) {
        console.log(userId)
        await fetch('/users',{
          method : 'DELETE',
          headers: {
            'Content-Type': 'application/json'
        },
          body :JSON.stringify({userId}),
          
        })
          .then((data)=>data.json()) 
          .then((data)=>{
            if (data.success.msg !== undefined){
              location.reload();
            }
          })
          .catch((err)=>{
            console.log(err);
          }) 
      }
      //form submit handle
      form.addEventListener('submit',async(e)=>{
        //prevent rerender
        e.preventDefault();
        //get response from server
        let responseMessage ;
        //form data type
        let formData = new FormData(form);
        
        console.log(formData)
        //get response from server
        await fetch('/users',{
          method: 'POST',
          body : formData,
          })
            .then(response => response.json())
            .then(data => {
            responseMessage = {...data}
          })
            .catch((error) => {
            console.error('Error:', error);
          });
        //set error messages default none
        const errorTags = document.querySelectorAll('.error');
        errorTags.forEach((value)=>{
          value.textContent = ''
        })
        //json response success check
        if(responseMessage?.success?.msg !== undefined){
          console.log(responseMessage.success);
          location.reload()
          
        }
          
        // json error response  send in a html format
        else if(Object.keys(responseMessage.errors).length>0){
          Object.keys(responseMessage.errors).forEach((value)=>{
        
            const ptag =  document.querySelector(`.error-${value}`);
            ptag.textContent = responseMessage.errors[value].msg;
            ptag.style.display = 'block';          
            password.value= ''
          
          })
        }
      });
    </script>
  </body>
</html>
